{% load static %}
<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>错误页面</title>
    <link rel="shortcut icon" href="{%static "images/yabo.ico" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}"/>
</head>

<body style="background:#0186a7;">

<!---404--->
<div class="error_new_bg pr">
    <div class="error_new_content">
        <div class="error_new pa">
            <div class="fl error_new_left"><img src="{% static 'images/yobo.jpg' %}"></div>
            <div class="fl error_new_right">
                <div class="error_detail">
                    <p class="error_p_title">哎呦~ 页面没有找到!</p>
                    <p class="error_p_con">※ 别急，工程师正在紧急处理,马上就好。</p>
                    <p class="error_p_con">※ 通知开发人员!</p>
                    <p class="error_p_con">※ 感谢您的支持,请您耐心等待!</p>
                </div>

                <p class="error_new_right_btn pr">
                    <a href="{% url 'site_index' %}" class="type-2 type-3">
                        <i> 返回首页</i>
                        <i> 返回首页 </i>
                        <i> 返回首页 </i>
                        <i> 返回首页 </i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>