{% extends 'base_html/base_index.html' %}
{% load static %}
{% block title %}
    首页|知识库
{% endblock %}


{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Jumbtron / Slider -->
            <div class="jumbotron-wrap" >
                <div class="container-fluid">
                    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <h2 class="text-center">知识库暂无数据，请提醒管理员添加数据</h2>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">



                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

