{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
    密码修改|知识库
{% endblock %}


{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 100%;">

            <!-- Main content area -->
            <main class="container-fluid">

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
                        <h3 style="color: red">修改密码</h3>

                        <table class="table">

                            <div class="text-left">
                                <p>
                                <ul>
                                    <li>你的密码不能与其他个人信息太相似。</li>
                                    <li>你的密码必须包含至少 8 个字符。</li>
                                    <li>你的密码不能是大家都爱用的常见密码。</li>
                                    <li>你的密码不能全部为数字。</li>
                                </ul>
                                </p>
                            </div>


                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td><label for="id_old_password">旧密码:</label></td>
                                    <td><input type="password" name="old_password" autofocus="" required=""
                                               id="id_old_password"></td>
                                </tr>
                                <tr>
                                    <td><label for="id_new_password1">新密码:</label></td>
                                    <td><input type="password" name="new_password1" required="" id="id_new_password1">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="id_new_password2">新密码确认:</label></td>
                                    <td><input type="password" name="new_password2" required="" id="id_new_password2">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="button" value="提交密码修改" id="my_btnn_test"
                                               style="width: 100%;height: 100%;">
                                    </td>
                                    <td>
                                        <p style="color: red;" id="chang_pwd_error"></p>
                                    </td>
                                </tr>
                            </form>
                            {#                            <p style="color: red;" id="chang_pwd_error"></p>#}

                        </table>


                    </div>
                </div>
            </main>

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#my_btnn_test").click(function () {
                var old_pwd = $('#id_old_password').val();
                var new_pwd1 = $('#id_new_password1').val();
                var new_pwd2 = $('#id_new_password2').val();
                if (old_pwd === '' || new_pwd1 === '' || new_pwd2 === '') { // 只能用 === 运算来测试某个值是否是未定义的
                    alert("密码修改填写内容不能为空！！！");
                } else {
                    $.ajax({
                        cache: false,
                        url: "{% url 'show_idea:pwd_change' %}",
                        type: 'post',
                        dataType: "json",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            "old_password": old_pwd,
                            "new_password1": new_pwd1,
                            "new_password2": new_pwd2
                        },
                        success: function (data) {
                            var code = data['code'];
                            if (code === 'success') {
                                alert("密码修改成功，请重新登录");
                                window.location.href = "{% url 'logout' %}";
                            } else {
                                $('#chang_pwd_error').text(code);
                            }
                        }
                    });
                }
            })
        });

    </script>

{% endblock %}
