{% extends 'base_html/base_index.html' %}
{% load static %}
{% block title %}
    首页|知识库
{% endblock %}


{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Main content area -->
            <main class="container-fluid">
                <div id="content_xuyang">
                    <div>知识库：<span style="font-size:20px;font-weight:bold;color: black;">首页</span></div>
                </div>


{#                <div class="row" style="margin-top: 50px;">#}
                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
{#                        <article>#}
                         <h3 style="color: red">热门问题：</h3>
                                <table class="table">
                                    <tr>
                                        <th>序号</th>
                                        <th>问题名称</th>

                                    </tr>
                                    {% for qct in qct_qyset %}
                                    <tr>
                                        <td><h5 style="color: #1c7430">{{ forloop.counter }}</h5></td>
                                        <td><a href="{% url 'show_idea:qct_detail' qct.t_id %}"><h5 style="color: red">{{ qct.qct_name }}</h5></a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
{#                        </article>#}

                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

