{% extends 'base_html/base_index.html' %}
{% load static %}
{% block title %}
    首页|知识库
{% endblock %}


{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 100%;">

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div id="content_xuyang">
                            <div>知识库：<span style="font-size:20px;font-weight:bold;color: black;">首页</span></div>
                        </div>
{#                        <a href="xuyang://">串关计算器</a>#}
                    </div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
                         <h3 style="color: red">一、热门问题：</h3>
                                <table class="table">
                                    <tr>
                                        <th>序号</th>
                                        <th>问题名称</th>
                                    </tr>
                                    {% for qct in qct_qyset %}
                                    <tr>
                                        <td><h5 style="color: #1c7430">{{ forloop.counter }}</h5></td>
                                        <td><h5><a href="{% url 'show_idea:qct_detail' qct.t_id %}" style="color: red">{{ qct.qct_name }}</a></h5></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                    </div>
                </div>
                <br/>
                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
                         <h3 style="color: red">二、按点击量排序问题：</h3>
                            <table class="table">
                                <tr>
                                    <th>序号</th>
                                    <th>问题名称</th>
                                    <th>当前点击量</th>
                                </tr>
                                {% for qct_visit in qct_visit_qyset %}
                                <tr>
                                    <td><h5 style="color: #1c7430">{{ forloop.counter }}</h5></td>
                                    <td><h5><a href="{% url 'show_idea:qct_detail' qct_visit.t_id %}" style="color: red">{{ qct_visit.qct_name }}</a></h5></td>
                                    <td><span style="color: black">{{ qct_visit.visit_count }}</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

