{% extends 'base_html/base_index.html' %}
{% load static %}
{% block title %}
    首页|知识库
{% endblock %}


{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Jumbtron / Slider -->
            <div class="jumbotron-wrap" >
                <div class="container-fluid">
                    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <h1 class="text-center">{{ btc_obj_qset.0.bct_name }}</h1>
                                    <p class="lead text-center">{{ btc_obj_qset.0.bct_describe }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">
                        <article>
                         <h3>子类展示</h3>
                                <table class="table">
                                    <tr>
                                        <th>序号</th>
                                        <th>子类名称</th>

                                    </tr>
                                    {% for stc in stc_qryset %}
                                    <tr>
                                        <td><h5>{{ forloop.counter }}</h5></td>
                                        <td><a href="{% url 'show_idea:qct_list' stc.t_id %}"><h5>{{ stc.sct_name }}</h5></a></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                        </article>


                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

