{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
问题详情|知识库
{% endblock %}

{% block body_content %}

    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div id="content_xuyang">
                            <div>大类主题：<a href="{% url 'show_idea:sct_list' qct_obj.bct_id_id %}">{{ qct_obj.bct_id.bct_name }}</a></div>
                            <div>子类主题：<a href="{% url 'show_idea:qct_list' qct_obj.sct_id_id %}">{{ qct_obj.sct_id.sct_name }}</a></div>
                            <div>问题名：<span style="color: red; padding-top: 10px;">{{ qct_obj.qct_name }}</span></div>
                            <p><span>创建人：{{ qct_obj.creator }}</span><span>创建时间：{{ qct_obj.create_timestamp }}</span></p>
                            <p><span>修改人：{{ qct_obj.updator }}</span><span>修改时间：{{ qct_obj.last_edit_timestamp }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">
                        <article class="art_xuyang">
                            <h4 style="color: #5b8d41">正文内容：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_method | safe}}</p></div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">

                        <article class="art_xuyang">
                            <h4 style="color: #5b8d41">内部评语指导：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_comment | safe}}</p></div>
                        </article>
                    </div>
                </div>

            </main>

        </div>
    </div>
{% endblock %}

