{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
{{ qct_obj.qct_name }}|知识库
{% endblock %}

{% block body_content %}

    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper">

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div id="content_xuyang" style="border-bottom: 3px solid #74c7ece3;">
                            <div>主问题目录：<a href="{% url 'show_idea:sct_list' qct_obj.bct_id_id %}">{{ qct_obj.bct_id.bct_name }}</a></div>
                            <div>子问题目录：<a href="{% url 'show_idea:qct_list' qct_obj.sct_id_id %}">{{ qct_obj.sct_id.sct_name }}</a></div>
                            <div>问题名：<span style="color: red; padding-top: 10px;font-weight:bold;">{{ qct_obj.qct_name }}</span></div>
                            <p style="width: 100%;"><span style="width: 13.5%;display:inline-block;">创建人：{{ qct_obj.creator }}</span><span>创建时间：{{ qct_obj.create_timestamp }}</span></p>
                            <p style="width: 100%;"><span style="width: 13.5%;display:inline-block;">修改人：{{ qct_obj.updator }}</span><span>修改时间：{{ qct_obj.last_edit_timestamp }}</span></p>
                            <p style="width: 100%;">
                                当前状态：
                                {% if qct_obj.is_effective == 1 %}
                                    <span style="width: 6%;display:inline-block;color: red; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                        生效中
                                    </span>
                                {% else %}
                                    <span style="width: 6%;display:inline-block;color: #909e9c; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                        已失效
                                    </span>
                                {% endif %}
                            阅读统计量：共-
                                <span style="display:inline-block;color: red; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                    {{ qct_obj.visit_count }}
                                </span>
                            -次阅读
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">
                        <article class="art_xuyang">
                            <h4 style="color: black;">知识库内容：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_method | safe}}</p></div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">

                        <article class="art_xuyang">
                            <h4 style="color: red">内部了解：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_comment | safe}}</p></div>
                        </article>
                    </div>
                </div>

            </main>

        </div>
    </div>
{% endblock %}

