{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
    {{ qct_obj.qct_name }}|知识库
{% endblock %}



{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper">

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div id="content_xuyang" style="border-bottom: 3px solid #74c7ece3;">
                            <div>主问题目录：<a
                                    href="{% url 'show_idea:sct_list' qct_obj.bct_id_id %}">{{ qct_obj.bct_id.bct_name }}</a>
                            </div>
                            <div>子问题目录：<a
                                    href="{% url 'show_idea:qct_list' qct_obj.sct_id_id %}">{{ qct_obj.sct_id.sct_name }}</a>
                            </div>
                            <div>问题名：<span
                                    style="color: red; padding-top: 10px;font-weight:bold;">{{ qct_obj.qct_name }}</span>
                            </div>
                            <p style="width: 100%;"><span
                                    style="width: 13.5%;display:inline-block;">创建咨询：{{ qct_obj.creator }}</span><span>创建时间：{{ qct_obj.create_timestamp }}</span>
                            </p>
                            <p style="width: 100%;"><span
                                    style="width: 13.5%;display:inline-block;">近期调整：{{ qct_obj.updator }}</span><span>调整时间：{{ qct_obj.last_edit_timestamp }}</span>
                            </p>
                            <p style="width: 100%;">
                                当前状态：
                                {% if qct_obj.is_effective == 1 %}
                                    <span style="width: 6%;display:inline-block;color: red; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                        生效中
                                    </span>
                                    内容有效时间：
                                    <span style="width:30%; display:inline-block;color: red; padding-top: 10px;font-weight:bold;font-size: 18px;">{{ qct_obj.active_endtime }}
                                    </span>
                                {% else %}
                                    <span style="width: 6%;display:inline-block;color: #909e9c; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                        已失效
                                    </span>
                                    内容有效期：
                                    <span style="width:30%; display:inline-block;color: #909e9c; padding-top: 10px;font-weight:bold;font-size: 18px;">{{ qct_obj.active_endtime }}
                                    </span>
                                {% endif %}

                                阅读统计量：共-
                                <span style="display:inline-block;color: red; padding-top: 10px;font-weight:bold;font-size: 18px;">
                                    {{ qct_obj.visit_count }}
                                </span>
                                -次
                            </p>

                        </div>
                    </div>


                    <aside class="col-sm-3">
                        <div class="sidebar-box">
                            <h4 style="color: rgba(144,158,156,0.54)">最近访问记录：</h4>
                            <div class="list-group list-group-root">
                                <p class="list-group-item"><span>访问用户</span><span>访问时间</span></p>
                                {% for visit_tuple in recent_visits %}
                                    <p class="list-group-item">
                                        <span>{{ visit_tuple.0 }}</span><span>{{ visit_tuple.1 }}</span></p>
                                {% endfor %}
                            </div>

                        </div>
                        {#                        <div class="sidebar-box sidebar-box-bg" style="margin-top: 100px;">#}
                        <div class="postion_fix">
                            <div>
                                <h4 style="color: red">发表评论：</h4>
                                {#                            <textarea id="TextArea1" cols="1" rows="1" class="ckeditor"></textarea>#}
                                <textarea id="TextArea1" cols="50" rows="10"></textarea>
                            </div>
                            <button type="button" id="comment_btn">提交评论</button>
                        </div>

                    </aside>


                </div>
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">
                        <article class="art_xuyang">
                            <h4 style="color: black;">知识库内容：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_method | safe }}</p></div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">

                        <article class="art_xuyang">
                            <h4 style="color: red">内部了解：</h4>
                            <br>
                            <div><p>{{ qct_obj.qct_comment | safe }}</p></div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">

                        <article class="art_xuyang">
                            <h4 style="color: red">用户评论：</h4>
                            <br>
                        <div>
                            {% for first, second_qst in all_comment_qset_dict.items %}
                            <h5 style="color: #12a6c5">第-{{ forloop.counter  }}-条评论</h5>
                            <p>用户名：{{ first.user_obj.username }}  ----------------  时间：{{ first.create_timestamp }}</p>
                            <p>评论内容：<br/><br/><span style="color: #0f74a8">{{ first.comment_content | safe }}<span></p>
                            <br/>
                            <p style="color: red; font-size: 15px;">管理员回复：</p>
                                {% for second in second_qst %}
                                <p>回复第-{{ forloop.counter }}-次 ---------------- 回复时间：{{ first.create_timestamp }}</p>
                                    <p>回复内容：<span style="color: red">{{ second.comment_content | safe }}</span></p>
                                <br/>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        </article>
                    </div>
                </div>


            </main>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#comment_btn").click(function () {
                var question_id = {{ qct_obj.t_id }}
                var comment_content = $('#TextArea1').val();
                if (comment_content === '') { // 只能用 === 运算来测试某个值是否是未定义的
                    alert("评论不能为空！！！！");
                } else {
                     $.ajax({
                        cache: false,
                        url: "{% url 'show_idea:comment' %}",
                        type: 'post',
                        dataType: "json",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            "question_id": question_id,
                            "comment_content": comment_content,
                        },
                        success: function (data) {
                            var code = data['code'];
                            if (code === 'comment_success') {
                                alert("评论发表-成功，等待管理员审核！！！");
                                $('#TextArea1').val('');
                            } else {
                                alert("评论发表-失败，请稍候再试！！！");
                            }
                        }
                    });
                }
            })
        });

    </script>
{% endblock %}

