{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
{{ stc_qryset.0.bct_id.bct_name }}|知识库
{% endblock %}

{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Main content area -->
            <main class="container-fluid">
                <div id="content_xuyang">
                    <div>主问题目录：<span style="font-size:20px;font-weight:bold;color: black;">{{ stc_qryset.0.bct_id.bct_name }}</span></div>
                </div>

                <div class="row">
                    <!-- Main content -->
                    <div class="col-md-8">
{#                        <article>#}
                         <h3>子问题目录</h3>
                                <table class="table">
                                    <tr>
                                        <th>序号</th>
                                        <th>子类名称</th>
                                    </tr>
                                    {% for stc in stc_qryset %}
                                    <tr>
                                        <td><span style="color: green; font-size: 14px;">{{ forloop.counter }}</span></td>
                                        <td><a href="{% url 'show_idea:qct_list' stc.t_id %}"><span style="color: red;font-size: 18px;">{{ stc.sct_name }}</span></a></td>
                                    </tr>
                                    {% endfor %}
                                </table>

{#                        </article>#}


                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

