<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method='get' action="/search" target="_self">
    <input type="text" name="q">
    <input type="submit" value="查询">
</form>

{% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in page.object_list %}
        <a href="{% url 'show_idea:qct_detail' result.object.t_id %}  "
           target="_blank">{{ result.object.qct_name }}</a><br/>
        <p>{{ result.object.qct_method | safe | slice:':30'}}......</p>
    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« 上一页
            {% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}下一页 »
            {% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
</body>
</html>
