{% extends 'base_html/base_index.html' %}
{% load static %}

{% block title %}
    搜索关键词
{% endblock %}

{% block body_content %}
    <!-- Main navigation -->
    <div id="content">
        <div id="content-wrapper" style="height: 900px;">

            <!-- Main content area -->
            <main class="container-fluid">
                <div class="row">

                    <!-- Main content -->
                    <div class="col-md-8">
                            <h3>搜索结果展示：</h3>
                            <table class="table">
                                <tr>
                                    <th>序号</th>
                                    <th>问题名</th>
{#                                    <th>部分内容</th>#}
                                    <th>当前状态</th>
                                </tr>
                                {% if query %}
                                    {% for result in page.object_list %}
                                        <tr>
                                            <td><span style="color: green; font-size: 14px;">{{ forloop.counter }}</span></td>
                                            <td><a href="{% url 'show_idea:qct_detail' result.object.t_id %}">
                                                <span style="color: red;font-size: 18px;">{{ result.object.qct_name }}</span></a></td>
{#                                            <td><p>{{ result.object.qct_method | safe | slice:':30' }}......</p></td>#}
                                            <td>
                                                {% if result.object.is_effective == 1 %}
                                                    <span style="color: red;font-size: 18px;font-weight: bold;">生效中</span>
                                                {% elif result.object.is_effective == 2 %}
                                                    <span style="color: #7c7e71;font-size: 18px; font-weight: bold;">已失效</span>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% empty %}
                                        <p style="color: red;font-size: 18px;">啥也没找到</p>
                                    {% endfor %}

                                    {% if page.has_previous or page.has_next %}
                                        <div>
                                            {% if page.has_previous %}
                                                <a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}
                                            « 上一页
                                            {% if page.has_previous %}</a>{% endif %}
                                            |
                                            {% if page.has_next %}
                                                <a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}下一页
                                            »
                                            {% if page.has_next %}</a>{% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </table>

                    </div>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

